@import 'tailwindcss';

button {
	@apply cursor-pointer;
}

button.primary {
	@apply rounded-md bg-slate-800 px-6 py-3 font-medium text-white transition-colors hover:bg-slate-900 disabled:cursor-not-allowed disabled:bg-gray-400;
}

button.secondary {
	@apply rounded-md bg-gray-500 px-6 py-3 font-medium text-white transition-colors hover:bg-gray-600 disabled:cursor-not-allowed disabled:bg-gray-300;
}

button.cancel {
	@apply rounded-md bg-gray-100 px-6 py-3 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200 disabled:cursor-not-allowed disabled:bg-gray-50;
}

button.lightweight {
	@apply rounded-md border border-gray-500 bg-white px-6 py-3 font-medium text-gray-500 transition-colors hover:bg-gray-100 disabled:cursor-not-allowed disabled:bg-gray-50;
}

button.success {
	@apply rounded-md bg-green-600 px-6 py-3 text-sm font-medium text-white transition-colors hover:bg-green-700 disabled:cursor-not-allowed disabled:bg-green-300;
}

button.danger {
	@apply rounded-md bg-red-600 px-6 py-3 font-medium text-white transition-colors hover:bg-red-700 disabled:cursor-not-allowed disabled:bg-red-300;
}

button.tiny {
	@apply px-4 py-2 text-sm;
}

/* button.robotevents {
	@apply rounded-md bg-slate-200 px-6 py-3 font-medium text-white transition-colors hover:bg-slate-300 disabled:cursor-not-allowed disabled:bg-slate-50;
	div {
		background: linear-gradient(135deg, rgba(111, 159, 187, 1) 0%, rgba(87, 92, 104, 1) 100%);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
} */

input.classic[type='text'],
input.classic[type='number'],
input.classic[type='url'],
select.classic {
	@apply min-h-10 rounded-md border-gray-300 px-3 py-2 shadow-sm focus:border-slate-900 focus:ring-slate-900;
}

input[type='checkbox'] {
	@apply cursor-pointer;
}
